@use '/src/variables' as var;

:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: space-around;
  // min-height: 100vh;

  text-shadow: 0 0 5px rgba(0, 255, 0, 0.8);
  transition: var.$green 0.2s, box-shadow 0.2s;
  color: var.$green;

  .title {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-shadow: 0 0 5px rgba(0, 255, 0, 0.8);
    transition: var.$green 0.2s, box-shadow 0.2s;
    color: var.$green;
    border: 2px solid var.$border-green;
    background: rgba(0, 20, 0, 0.8);
    box-shadow: inset 0 0 10px var.$border-green;
    margin-bottom: 5px;
  }
}